
<h3>Alternative Fuel Stations near you</h3>

<h5> <%= facade.stations_count %> Results </h5>
<ol>
  <% facade.stations.each do |station| %>
    <li class='station'>
      <p> <b>Name:</b> <%= station.name %> </p>
      <p> <b>Address:</b> <%= station.address %> </p>
      <p> <b>Fuel Types:</b> <%= station.fuel_types %> </p>
      <p> <b>Distance:</b> <%= station.distance %> miles </p>
      <p> <b>Access Times:</b> <%= station.access_times %> </p>
    </li>
  <% end %>

</ol>
